PORT=3000
DATABASE_URL="file:./dev.db"
JWT_SECRET="seu_segredo_jwt_super_seguro_para_desenvolvimento_12345"
JWT_EXPIRES_IN="30d"

# Firebase Admin SDK (para Push Notifications)
FIREBASE_PROJECT_ID="seu-projeto-firebase"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-xxx@seu-projeto.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgk...-----END PRIVATE KEY-----\n"
